$font-open-sans: "OpenSans", "Arial", sans-serif;
$white: #ffffff;
$sapphire: #002b7e;
$red-orange: #f2291f;
$dodger-blue: #0096f2;
$midnight-express: #1d2335;
$hawkes-blue: #d3dbe8;
$malachite: #00c853;

$base: 16;
$base-font-size: $base * 1px;
